# Better ls.
alias ll="ls -lha"

# Human-readable disk usage.
alias dfh="df -Tha --total"

# Show IP addresses.
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias whois="whois -h whois-servers.net"

# Map function.
alias map="xargs -n1"

# Build ctags.
alias mktags="ctags --extra=+f -R ."

# Reload shell.
alias reload="exec $SHELL -l"

# Fast diff for large files.
alias fdiff='diff --speed-large-files'

# Neovim
alias vi=nvim
alias vim=nvim
alias vimdiff="nvim -d"

# Reboot and bypass FileVault password
alias restart='fdesetup authrestart'
