# Better ls
alias ll="ls -lha"

# Human-readable disk usage
alias dfh="df -Tha --total"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias whois="whois -h whois-servers.net"

# Processes
alias psa="ps auxf"
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
alias psmy='ps -fu $USER | sort | egrep -v "ps -fu|sort|grep"'

# History
alias hig="history | grep"

# Find matching files
alias lsg='ll | grep'

# Map function
alias map="xargs -n1"

# Ctags
alias mktags="ctags --extra=+f -R ."

# Reload shell
alias reload="exec $SHELL -l"

# Clang Format
alias cformat='clang-format -style=file -i (find . -name \*.h -print -o -name \*.cpp -print)'

# View dirty memory
alias dirty='watch grep -e Dirty: -e Writeback: /proc/meminfo'
