# EditorConfig: https://EditorConfig.org

# Top-most config file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.cpp]
indent_size = 2
