# Set default editor to Vim
set -U EDITOR vim
set -U VISUAL vim

# Set default language to US English (UTF-8)
set -x LC_COLLATE en_US.UTF-8
set -x LC_CTYPE en_US.UTF-8
set -x LC_MESSAGES en_US.UTF-8
set -x LC_MONETARY en_US.UTF-8
set -x LC_NUMERIC en_US.UTF-8
set -x LC_TIME en_US.UTF-8
set -x LC_ALL en_US.UTF-8
set -x LANG en_US.UTF-8
set -x LANGUAGE en_US.UTF-8
set -x LESSCHARSET utf-8

# Path
set PATH /usr/local/sbin /usr/local/bin /usr/sbin /usr/bin /sbin /bin $HOME/bin $PATH

# Go
set GOPATH $HOME/go
set PATH $PATH $GOPATH/bin

# Use GNU core utils on macOS
set PATH /usr/local/opt/coreutils/libexec/gnubin $PATH

# Rust
set RUST_SRC_PATH /usr/local/src/rust/src

# Haskell
set PATH $PATH $HOME/.cabal/bin/

# LLVM
set PATH $PATH /usr/local/opt/llvm/bin /opt/llvm/bin

# SSH
set -U SSH_KEY_PATH $HOME/.ssh/id_rsa

# Local libraries
set PATH $PATH $HOME/usr/bin

# CCache
set PATH /usr/local/opt/ccache/libexec /usr/lib/ccache $PATH

# FZF Theme
set -x FZF_DEFAULT_OPTS '
--color dark,hl 33,hl+ 37,fg+ 235,bg+ 136,fg+ 254
--color info 254,prompt 37,spinner 108,pointer 235,marker 235'
