# Set default editor to Vim
export EDITOR=vim
export VISUAL=vim

# Set default language to US English (UTF-8)
export LC_COLLATE=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8
export LC_MESSAGES=en_US.UTF-8
export LC_MONETARY=en_US.UTF-8
export LC_NUMERIC=en_US.UTF-8
export LC_TIME=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export LESSCHARSET=utf-8

# Path
export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:$HOME/bin:$PATH

# Go
export GOPATH=$HOME/go
export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$GOPATH/bin

# Rust
export RUST_SRC_PATH=/usr/local/src/rust/src

# Haskell
export PATH=$PATH:$HOME/.cabal/bin/

# LLVM
export PATH=$PATH:/usr/local/opt/llvm/bin:/opt/llvm/bin

# SSH
export SSH_KEY_PATH=$HOME/.ssh/id_rsa

# Local libraries
export PATH=$PATH:$HOME/usr/bin

# CCache
export PATH=/usr/local/opt/ccache/libexec:/usr/lib/ccache:$PATH

# FZF Theme
export FZF_DEFAULT_OPTS='
--color dark,hl:33,hl+:37,fg+:235,bg+:136,fg+:254
--color info:254,prompt:37,spinner:108,pointer:235,marker:235'
