# Set default editor to Vim.
set -x EDITOR vim
set -x VISUAL vim

# US English (UTF-8)
set -x LC_COLLATE en_US.UTF-8
set -x LC_CTYPE en_US.UTF-8
set -x LC_MESSAGES en_US.UTF-8
set -x LC_MONETARY en_US.UTF-8
set -x LC_NUMERIC en_US.UTF-8
set -x LC_TIME en_US.UTF-8
set -x LC_ALL en_US.UTF-8
set -x LANG en_US.UTF-8
set -x LANGUAGE en_US.UTF-8
set -x LESSCHARSET utf-8

# PATH
set PATH /usr/local/sbin /usr/local/bin /usr/sbin /usr/bin /sbin /bin $PATH

# dotfiles
set PATH $PATH $HOME/dotfiles/scripts

# Use GNU core utils on macOS if available.
if test -e /usr/local/opt/coreutils
  set PATH /usr/local/opt/coreutils/libexec/gnubin $PATH
end

# Araxis Merge
if test -e /Applications/Araxis\ Merge.app/Contents/Utilities
  set PATH /Applications/Araxis\ Merge.app/Contents/Utilities $PATH
end

# Go
if test -e $HOME/go
  set -x GOPATH $HOME/go
  set PATH $PATH $GOPATH/bin
end

# Rust
if test -e $HOME/.cargo
  set PATH $PATH $HOME/.cargo/bin/
end

# Haskell
if test -e $HOME/.cabal
  set PATH $PATH $HOME/.cabal/bin/
end

# fzf
set FZF_DEFAULT_COMMAND 'rg --files --no-ignore --hidden --follow --glob "!.git/*"'
set FZF_DEFAULT_OPTS "--color dark,hl:33,hl+:37,fg+:235,bg+:136,fg+:254 --color info:254,prompt:37,spinner:108,pointer:235,marker:235"

# ssh
set -x SSH_KEY_PATH $HOME/.ssh/id_rsa
