[core]
	editor = nvim
	fsmonitor = true
	untrackedCache = true
[user]
	email = jonas@devlieghere.com
	name = Jonas Devlieghere
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
[grep]
	extendRegexp = true
	lineNumber = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[commit]
	gpgsign = true
	verbose = false
[diff]
        tool = nvimdiff
[diff "bin"]
	textconv = hexdump -v -C
[merge]
	tool = nvimdiff
        conflictstyle = zdiff3
[help]
	autocorrect = 1
[status]
	showuntrackedfiles = all
[alias]
        dt = difftool --no-prompt
        mt = mergetool --no-prompt
	aa = add --all
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
	amend = commit --amend
	anw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
	ca = diff --cached
	co = checkout
	cp = cherry-pick
	fall = log --all --grep
	find = log --grep
	fmt = clang-format
	git = "!exec git"
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	nopush = !sh -c 'git remote set-url --push $1 /dev/null' -
	ours = checkout --ours
	patch =  show HEAD -U999999
	review = !git diff --name-only --cached | xargs -n 1 git blame --porcelain | grep  \"^author \" | sort | uniq -c | sort -nr | head -10
	sha = rev-parse HEAD
	st = status
	theirs = checkout --theirs
	uncommit = reset HEAD~
	unstage = reset HEAD --
[credential]
	helper = cache --timeout=3600
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[delta]
	line-numbers = true
	side-by-side = true
	syntax-theme = "Solarized (dark)"
	navigate = true
        dark = true
[difftool "nvimdiff"]
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
