[user]
	email = jonas@devlieghere.com
	name = Jonas Devlieghere
[core]
	editor = nvim
	fsmonitor = true
	untrackedCache = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[branch]
	sort = -committerdate
[checkout]
	defaultRemote = origin
[rerere]
	enabled = true
	autoupdate = true
[grep]
	extendRegexp = true
	lineNumber = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[commit]
	gpgsign = true
	verbose = false
[diff]
	tool = nvimdiff
[diff "bin"]
	textconv = hexdump -v -C
[merge]
	tool = nvimdiff
	conflictstyle = zdiff3
[help]
	autocorrect = 1
[status]
	showuntrackedfiles = all
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[column]
	ui = auto
[alias]
	aa = add --all
	amend = commit --amend
	anw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
	ca = diff --cached
	co = checkout
	cp = cherry-pick
	dt = difftool --no-prompt
	fall = log --all --grep
	find = log --grep
	fmt = clang-format
	git = "!exec git"
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	mt = mergetool --no-prompt
	nopush = !sh -c 'git remote set-url --push $1 /dev/null' -
	ours = checkout --ours
	patch =  show HEAD -U999999
	sha = rev-parse HEAD
	st = status
	theirs = checkout --theirs
	uncommit = reset HEAD~
	unstage = reset HEAD --
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[delta]
	line-numbers = true
	side-by-side = true
	syntax-theme = "Solarized (dark)"
	navigate = true
	dark = true
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
