# Always look in all compile units
# settings set target.inline-breakpoint-strategy always

# Always break after the dynamic linker is finished
# settings set target.process.stop-on-sharedlibrary-events on

# Always print the dynamic type of the result of an expression
# settings set target.prefer-dynamic-value run-target

# Inherit TCC from the parent
# settings set target.inherit-tcc true

# Debug utility functions
# settings set target.debug-utility-expression true

# Silently import the lldb.macosx scripts
command script import -s lldb.macosx

# Enable logging
# log enable lldb types -f /tmp/types.log
# log enable lldb dyld -f /tmp/dyld.log
# log enable gdb-remote packets -f /tmp/gdb.log
