# Always look in all compile units
# settings set target.inline-breakpoint-strategy always

# Always break after the dynamic linker is finished
# settings set target.process.stop-on-sharedlibrary-events on

# Always print the dynamic type of the result of an expression
# settings set target.prefer-dynamic-value run-target

# Voltron
command script import /usr/local/lib/python2.7/site-packages/voltron/entry.py
